/* body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 600px;
  background-image: url("./carrot/img/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
} */

.bgImg {
  /* display: flex;
  flex-direction: column; */
  height: 500px;
  width: 800px;
  background-image: url("./carrot/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  z-index: 1;
  /* opacity: 50%; */
}

header {
  text-align: center;
  /* margin-top: 0px; */
}

.countDown {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 20px;
  background-color: teal;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.replay {
  position: relative;
  border: none;
  /* 가장자리 없어짐 */
  background: none;
  /* 뒷배경 없어짐 */
  cursor: pointer;
  transition: all 100ms ease-in;
  padding: 0px;
  border-radius: 50%;
}

.replay:hover {
  transform: scale(1.3);
}

.replay:focus {
  outline: none;
}

.replay:active {
  background: chartreuse;
}

.resultModal {
  display: none;
  position: relative;
  top: 100px;
  height: 100px;
  width: 200px;
  border: coral 5px solid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  background-color: peru;
}

.verticalHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.gamePlace {
  position: relative;
  margin-top: 200px;
  width: 100%;
  height: 250px;
  border: 1px red solid;
  /* background-color: red;
  opacity: 50%; */
}

.object {
  position: absolute;
  width: 5vw;
  height: 5vw;
}

.bug {
  z-index: 0;
}

.carrot {
  z-index: 1;
}
